[Desktop Entry]
Encoding=UTF-8
Name=Datacoin Core
Comment=Connect to the Datacoin P2P Network
Comment[de]=Verbinde mit dem Datacoin peer-to-peer Netzwerk
Comment[fr]=Datacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Datacoin, eşten eşe kriptografik sanal para birimi
Exec=datacoin-qt %u
Terminal=false
Type=Application
Icon=datacoin128
MimeType=x-scheme-handler/datacoin;
Categories=Office;Finance;
